BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
BreakBeforeBraces: Allman
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
DerivePointerAlignment: false
PointerAlignment: Left
IndentCaseLabels: true
AccessModifierOffset: -2
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: true
